.btn{
  background:purple;
  text-align:right;
  float:right;
  padding:5px;
}
.btn--alt{
  background:white;
  text-align:left;
  float:left;
  padding:5px;
  color:black;
}
.card{
  position: relative;
  display: flex;
  width:18rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding:1rem;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}
h2, span, p{
  color:black;
}
.modal{
  position: relative;
  display: flex;
  width:18rem;
  bottom:15rem;
  text-align: center;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding:1rem;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  margin:auto;
}
